.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: var(--Grey);
  width: var(--width-328);
  height: var(--height-50);
  border-radius: var(--br-15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  font-size: var(--fs-20);
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-onest);
  background:
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #1e1e22;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
