.div,
.frame-parent {
  display: flex;
  isolation: isolate;
}
.div {
  width: 100%;
  position: relative;
  background:
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #1e1e22;
  overflow: hidden;
  align-items: flex-end;
  padding: 2.0833vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: 84.3750vw;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-18);
  font-family: var(--font-onest);
}
.frame-parent {
  width: 89.5313vw;
  margin: 0 !important;
  position: absolute;
  top: -0.1042vw;
  left: 5.2083vw;
  align-items: flex-start;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--fs-128);
  color: var(--Grey);
  font-family: var(--font-winter-sans-trial);
}
.frame-child {
  height: 470.3125vw;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.k1t {
  height: 16.7708vw;
  width: 61.8229vw;
  top: 188.2292vw;
  right: 13.8021vw;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.hd-camera-2-1-1,
.k1t,
.vector-parent {
  position: absolute;
  margin: 0 !important;
}
.hd-camera-2-1-1 {
  width: 50.4167vw;
  top: 169.8958vw;
  right: 19.5313vw;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.vector-parent {
  height: 46.3021vw;
  width: 85.4167vw;
  top: 12.1875vw;
  left: 0;
}
.hd-camera-2-1-2,
.vector-icon {
  position: absolute;
  top: 25.1042vw;
  left: 0;
  width: 8.2292vw;
  height: 6.2500vw;
  z-index: 1;
}
.hd-camera-2-1-2 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 3.1250vw;
  max-height: 100%;
  width: 82.2917vw;
  object-fit: cover;
  z-index: 2;
}
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  flex-direction: column;
  gap: 5.2083vw;
  flex-shrink: 0;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) 17.6042vw;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-128);
  color: var(--Grey);
  font-family: var(--font-winter-sans-trial);
}
.frame-container,
.frame-header {
  flex-direction: column;
  max-width: 100%;
}
.frame-container {
  width: var(--width-1720);
  display: flex;
  align-items: flex-start;
  gap: 4.1146vw;
}
.frame-header {
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  gap: var(--gap-40);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-div,
.frame-header,
.logo-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-div {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
}
.logo-wrapper {
  width: 14.0625vw;
  flex-direction: column;
}
.logo-icon {
  width: 10.2083vw;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  gap: 7.9688vw;
  max-width: 100%;
}
.link-parent {
  flex-direction: column;
  gap: var(--gap-8);
}
.link,
.link-parent {
  display: flex;
  align-items: flex-start;
}
.link2,
.link4 {
  position: relative;
  line-height: 110%;
}
.link-group,
.link11,
.link7,
.link9 {
  display: flex;
  align-items: flex-start;
}
.link-group {
  flex-direction: column;
  gap: var(--gap-8);
}
.link11,
.link7,
.link9 {
  z-index: 3;
}
.link11,
.link9 {
  z-index: 1;
}
.link11 {
  z-index: 2;
}
.frame-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-15);
  text-align: right;
  font-size: var(--fs-18);
}
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-1);
}
.frame-parent4 {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-15);
}
.link-container {
  gap: var(--gap-5);
}
.instance-wrapper,
.link-container,
.link13 {
  display: flex;
  align-items: flex-start;
}
.link13 {
  align-self: stretch;
  flex: 1;
}
.instance-wrapper {
  flex-direction: column;
  padding: 0.3646vw var(--padding-0) var(--padding-0);
}
.frame-item {
  width: 0.4167vw;
  height: 0.2083vw;
  position: relative;
  z-index: 1;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 0.1042vw;
}
.frame-inner {
  width: 0.8854vw;
  height: 0.9896vw;
  position: relative;
  z-index: 1;
}
.div4,
.line-div,
.link14 {
  align-self: stretch;
  z-index: 1;
}
.link14 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.div4,
.line-div {
  position: relative;
}
.line-div {
  height: var(--height-1);
  border-top: var(--border-1);
  box-sizing: border-box;
  opacity: var(--opacity-0_3);
}
.div4 {
  height: 10.7813vw;
  letter-spacing: -0.02em;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
}
.frame-section,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-section {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) 37.1354vw;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.parent {
  width: var(--width-1720);
  flex-direction: column;
  gap: var(--gap-4);
}
.h3 {
  margin: 0;
  width: 11.8229vw;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapper {
  width: 17.0833vw;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 9.3750vw;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--fs-14);
}
.div5 {
  flex: 1;
  position: relative;
  line-height: 120%;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) 2.9167vw 18.7500vw;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.container,
.frame-parent5,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  width: 34.8958vw;
  flex-direction: column;
  gap: var(--gap-15);
}
.container {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.b,
.k1t2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.b {
  flex: 1;
  letter-spacing: -0.03em;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 100%;
}
.k1t2 {
  width: 15.5729vw;
  font-size: var(--fs-14);
  line-height: 120%;
}
.cards,
.cards-parent {
  align-self: stretch;
  display: flex;
}
.cards-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: 8.3333vw;
  max-width: 100%;
}
.cards {
  align-items: center;
  justify-content: center;
  gap: var(--gap-20);
}
.card,
.frame {
  display: flex;
  align-items: flex-start;
}
.card {
  height: 16.6667vw;
  flex: 1;
  border-radius: var(--br-15);
  background-color: var(--Black-lines);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-20);
  min-width: var(--min-w-420);
  text-align: left;
  font-size: var(--fs-128);
  color: var(--Grey);
  font-family: var(--font-winter-sans-trial);
}
.frame {
  width: 24.7396vw;
}
.h2 {
  margin: 0;
  height: 4.7917vw;
  width: 9.1146vw;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  opacity: var(--opacity-0_3);
}
.bottom {
  width: 24.0625vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4);
  font-size: var(--fs-24);
  font-family: var(--font-onest);
}
.div6,
.h32 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.h32 {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.div6 {
  font-size: var(--fs-14);
}
.bottom2 {
  width: 22.6042vw;
  align-items: flex-start;
  gap: var(--gap-4);
  font-size: var(--fs-24);
  font-family: var(--font-onest);
}
.bottom2,
.bottom3,
.frame-parent6 {
  display: flex;
  flex-direction: column;
}
.bottom3 {
  width: 22.0313vw;
  align-items: flex-start;
  gap: var(--gap-4);
  font-size: var(--fs-24);
  font-family: var(--font-onest);
}
.frame-parent6 {
  width: 71.4583vw;
  align-items: flex-end;
  gap: 3.1250vw;
  max-width: 100%;
}
.frame-wrapper5 {
  align-self: stretch;
  text-align: right;
  font-size: var(--fs-24);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-parent7,
.frame-wrapper5,
.k1t-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  width: 61.9271vw;
  gap: var(--gap-20);
}
.k1t-wrapper {
  width: 17.0833vw;
  flex-direction: column;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.b2,
.k1t3 {
  position: relative;
  text-transform: uppercase;
}
.k1t3 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.b2 {
  height: 16.7708vw;
  flex: 1;
  font-size: var(--fs-48);
  letter-spacing: -0.03em;
  line-height: 100%;
  display: inline-block;
  text-align: left;
  min-width: 28.4896vw;
  max-width: 100%;
  z-index: 2;
}
.frame-parent8 {
  width: 53.3854vw;
  flex-direction: column;
  gap: var(--gap-19);
  max-width: 100%;
}
.frame-parent10,
.frame-parent8,
.frame-parent9 {
  display: flex;
  align-items: flex-start;
}
.frame-parent9 {
  width: 35.2604vw;
  gap: 1.0052vw;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  gap: var(--gap-20);
  min-width: 10.4688vw;
}
.frame-wrapper6,
.group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-wrapper6 {
  height: var(--height-220);
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.group {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-20);
}
.div9 {
  border-radius: var(--br-14);
  border: var(--border-1);
  padding: var(--padding-5) var(--padding-12);
}
.div9,
.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  position: relative;
  line-height: 120%;
}
.parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
  font-size: var(--fs-20);
}
.frame-child2 {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-11);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 2;
}
.line-wrapper {
  height: var(--height-240);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.frame-child3 {
  width: var(--width-1);
  flex: 1;
  position: relative;
  border-right: var(--border-12);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 1;
}
.parent3 {
  align-self: stretch;
  height: var(--height-220);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
  z-index: 2;
}
.frame-child4 {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-11);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 1;
}
.frame-wrapper7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-parent12 {
  width: 36.3021vw;
  display: flex;
  align-items: flex-end;
  gap: 1.0156vw;
  max-width: 100%;
}
.line-frame {
  height: var(--height-240);
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.frame-parent13,
.frame-parent14,
.line-frame,
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent13 {
  flex: 1;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  gap: var(--gap-19);
  min-width: 10.4167vw;
}
.frame-parent14,
.parent5 {
  gap: var(--gap-20);
}
.parent5 {
  align-self: stretch;
  height: var(--height-220);
  justify-content: space-between;
}
.frame-parent14 {
  flex: 1;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  min-width: 10.4167vw;
  font-size: var(--fs-20);
}
.button {
  cursor: pointer;
  border: var(--border-1);
  padding: var(--padding-5) var(--padding-12);
  background-color: transparent;
  border-radius: var(--br-14);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text4 {
  position: relative;
  font-size: var(--fs-14);
  line-height: 120%;
  font-family: var(--font-onest);
  color: var(--Grey);
  text-align: left;
}
.mesh-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
}
.mesh- {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.frame-child10 {
  height: 12.5521vw;
  width: var(--width-1);
  position: relative;
  border-right: var(--border-12);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 1;
}
.frame-wrapper8 {
  width: 35.3125vw;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-parent15,
.frame-parent16 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.frame-parent15 {
  gap: 1.0052vw;
  max-width: 100%;
}
.frame-parent16 {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  gap: var(--gap-20);
  min-width: 10.4167vw;
}
.b3,
.parent8 {
  align-self: stretch;
}
.parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
  min-height: 11.4583vw;
  z-index: 2;
}
.b3 {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
}
.frame-wrapper9 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
}
.frame-parent18,
.frame-wrapper9,
.parent12 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  width: var(--width-1720);
  justify-content: center;
  gap: var(--gap-20);
}
.parent12 {
  flex: 1;
  border-radius: var(--br-15);
  background-color: var(--Black-lines);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-30);
  box-sizing: border-box;
  gap: 0.8854vw;
  min-width: var(--min-w-420);
  text-align: left;
  font-size: var(--fs-48);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.h1 {
  margin: 0;
  width: 24.6875vw;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.k1t-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
  font-size: var(--fs-12);
}
.k1t5 {
  width: 19.4792vw;
  position: relative;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.group-icon {
  height: var(--height-80);
  width: var(--width-80);
  position: relative;
}
.frame-wrapper10 {
  flex: 1.1199;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.1250vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--min-w-420);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.b2b,
.b2b-parent {
  align-self: stretch;
}
.b2b-parent {
  height: 13.2292vw;
  border-radius: var(--br-15);
  background-color: var(--Black-lines);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-20);
  max-width: 100%;
}
.b2b {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.rectangle-div {
  top: 0;
  left: 1.3906vw;
  width: 2.7760vw;
}
.frame-child15,
.frame-child16,
.rectangle-div {
  position: absolute;
  border: 1px solid var(--Grey-Dark);
  box-sizing: border-box;
  height: 2.7760vw;
}
.frame-child15 {
  top: 1.3906vw;
  left: 0;
  width: 2.7760vw;
  z-index: 1;
}
.frame-child16 {
  width: calc(100% - 1.3906vw);
  top: 0.6927vw;
  right: 0.6979vw;
  left: 0.6927vw;
  z-index: 2;
}
.ellipse-div {
  position: absolute;
  top: 1.8542vw;
  left: 1.8542vw;
  border-radius: 50%;
  background-color: var(--Grey-Dark);
  width: 0.4635vw;
  height: 0.4635vw;
  z-index: 3;
}
.frame-wrapper11 {
  flex: 1.1199;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6.2500vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--min-w-420);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.h12,
.parent14 {
  align-self: stretch;
}
.parent14 {
  border-radius: var(--br-15);
  background-color: var(--Black-lines);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-30);
  box-sizing: border-box;
  gap: 0.8854vw;
  max-width: 100%;
}
.h12 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.footer,
.footer-inner,
.group-div {
  display: flex;
  align-items: flex-start;
}
.footer {
  width: 100.0000vw;
  height: 35.7813vw;
  padding: 3.6458vw 5.2083vw 1.3021vw;
  box-sizing: border-box;
  z-index: 3;
}
.footer-inner,
.group-div {
  height: 30.8333vw;
  width: var(--width-1720);
}
.footer-inner {
  flex-shrink: 0;
}
.group-div {
  flex-direction: column;
  gap: 2.8646vw;
}
.frame-parent19,
.logo-parent {
  height: 14.0625vw;
  display: flex;
  align-items: flex-start;
  z-index: 2;
}
.frame-parent19 {
  width: 89.4479vw;
  gap: 2.2917vw;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.logo-parent {
  width: 61.2500vw;
  position: relative;
  isolation: isolate;
  gap: 3.2813vw;
}
.logo-icon2 {
  height: 13.2813vw;
  width: 35.2083vw;
  position: relative;
  z-index: 0;
}
.rectangle-icon {
  height: 3.6458vw;
  width: 1.7188vw;
  position: absolute;
  margin: 0 !important;
  right: 23.2813vw;
  bottom: 0.7813vw;
  z-index: 1;
}
.wrapper2 {
  height: 14.0625vw;
  width: 22.7604vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11.0417vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  z-index: 2;
}
.div20 {
  width: 22.7604vw;
  height: 3.0208vw;
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  display: inline-block;
}
.p {
  margin-block-start: 0;
  margin-block-end: 0.5208vw;
}
.blank-line,
.p,
.p2 {
  line-height: 120%;
}
.p2 {
  margin: 0;
}
.group-icon2 {
  height: 13.2813vw;
  width: 25.9063vw;
  position: relative;
  z-index: 1;
}
.frame-parent20,
.frame-parent21 {
  width: var(--width-1720);
  display: flex;
  align-items: flex-start;
}
.frame-parent20 {
  height: 13.9063vw;
  flex-direction: column;
  gap: 1.7708vw;
  z-index: 1;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.frame-parent21 {
  height: 9.6354vw;
  gap: 6.0417vw;
}
.frame-wrapper12,
.link-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper12 {
  height: 9.5833vw;
  width: 12.0833vw;
  padding: var(--padding-0) 1.1458vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  z-index: 3;
}
.link-parent2 {
  width: 10.9375vw;
  gap: var(--gap-8);
}
.link15 {
  align-self: stretch;
}
.frame-parent22,
.link-parent3,
.link15 {
  display: flex;
  align-items: flex-start;
}
.frame-parent22 {
  height: 7.7083vw;
  width: 26.2500vw;
  gap: 7.5521vw;
}
.link-parent3 {
  width: 10.5729vw;
  flex-direction: column;
  gap: var(--gap-8);
  z-index: 2;
}
.link28 {
  position: relative;
  line-height: 110%;
  flex-shrink: 0;
}
.link-parent4 {
  width: 8.1250vw;
  align-items: flex-start;
  gap: var(--gap-8);
  z-index: 1;
}
.frame-wrapper13,
.link-parent4,
.link-parent5 {
  display: flex;
  flex-direction: column;
}
.frame-wrapper13 {
  height: 2.2917vw;
  width: 7.0833vw;
  align-items: flex-start;
  padding: var(--padding-0) 4.0625vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  z-index: 1;
}
.link-parent5 {
  width: 3.0208vw;
  align-items: flex-end;
  gap: var(--gap-8);
}
.frame-parent23,
.link51,
.parent15 {
  display: flex;
  align-items: flex-start;
}
.link51 {
  align-self: stretch;
  justify-content: flex-end;
}
.frame-parent23,
.parent15 {
  width: 26.0417vw;
}
.frame-parent23 {
  height: 9.6354vw;
  flex-direction: column;
  gap: var(--gap-5);
  font-size: var(--fs-32);
}
.parent15 {
  height: 5.5208vw;
  gap: 3.2292vw;
}
.h13 {
  margin: 0;
  height: 5.5208vw;
  width: 15.6250vw;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 110%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.link-parent6 {
  height: 2.1354vw;
  width: 7.1875vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5);
  z-index: 1;
  text-align: right;
  font-size: var(--fs-18);
}
.info4aoru {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.frame-parent24,
.rectangle-group {
  width: 25.9896vw;
  display: flex;
  align-items: flex-start;
}
.frame-parent24 {
  height: 3.8542vw;
  flex-direction: column;
  gap: 0.5208vw;
  font-size: var(--fs-12);
}
.rectangle-group {
  height: 2.6042vw;
  padding: 0.8854vw var(--padding-20) 0.7813vw;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.frame-child17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-15);
  border: 0.1042vw solid var(--Grey);
  box-sizing: border-box;
  z-index: 0;
  flex-shrink: 0;
}
.component-5-icon,
.e-mail {
  border: 0;
  background-color: transparent;
  flex-shrink: 0;
}
.component-5-icon {
  cursor: pointer;
  padding: 0;
  height: 1.1771vw;
  width: 1.1771vw;
  position: absolute;
  margin: 0 !important;
  right: 1.0625vw;
  bottom: 0.7083vw;
  object-fit: contain;
  z-index: 1;
}
.e-mail {
  width: calc(100% - 3.2604vw);
  outline: 0;
  font-family: var(--font-onest);
  font-size: var(--fs-16);
  height: var(--height-18);
  position: relative;
  line-height: 110%;
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-input,
.frame-parent25 {
  display: flex;
  align-items: flex-start;
}
.frame-parent25 {
  width: 22.2396vw;
  height: var(--height-14);
  gap: var(--gap-5);
}
.frame-input {
  margin: 0;
  height: 0.6771vw;
  width: 0.6250vw;
  flex-direction: column;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div22 {
  height: var(--height-14);
  width: 21.3542vw;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.line-parent {
  width: var(--width-1720);
  height: 2.5000vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  font-size: var(--fs-12);
}
.frame-child18 {
  width: 89.6354vw;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
  opacity: var(--opacity-0_3);
}
.aoru,
.aoru-parent {
  height: var(--height-28);
}
.aoru-parent {
  width: 89.5313vw;
  display: flex;
  align-items: flex-start;
  gap: 21.9271vw;
}
.aoru {
  width: 35.3646vw;
  position: relative;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
}
.copyright-2024-wrapper {
  height: var(--height-18);
  width: 32.2396vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2083vw var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  text-align: right;
}
.copyright-2024 {
  width: 32.2396vw;
  height: var(--height-14);
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.footer-child {
  height: 35.7813vw;
  width: 100.0000vw;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.camera-1-1-1 {
  height: 46.1979vw;
  width: 82.0833vw;
  position: absolute;
  margin: 0 !important;
  bottom: 105.8854vw;
  left: -27.3958vw;
  object-fit: contain;
  z-index: 1;
  flex-shrink: 0;
}
.inner {
  height: 126.8229vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.see-stretch-wrapper {
  align-self: stretch;
  height: 1.0417vw;
  display: flex;
  align-items: center;
  padding: var(--padding-1) var(--padding-0);
  box-sizing: border-box;
  flex-shrink: 0;
}
.see-stretch {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  background:
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #1e1e22;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 95.0521vw) {
  .cards,
  .div,
  .frame-parent18 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 70.3125vw) {
  .div {
    gap: 42.1875vw;
  }
  .frame-group {
    gap: 2.6042vw;
  }
  .frame-section {
    padding-bottom: 15.6771vw;
    box-sizing: border-box;
  }
  .frame-wrapper4 {
    padding-left: 9.3750vw;
    box-sizing: border-box;
  }
  .cards-parent {
    gap: 4.1667vw;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 48.1771vw) {
  .div {
    gap: 21.0938vw;
  }
  .k1t {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
  .frame-group {
    gap: 1.3021vw;
  }
  .frame-wrapper {
    padding-bottom: 11.4583vw;
    box-sizing: border-box;
  }
  .frame-container {
    gap: 2.0313vw;
  }
  .frame-header {
    gap: var(--gap-20);
  }
  .frame-parent2 {
    width: 13.7500vw;
  }
  .link-parent,
  .link14,
  .link2 {
    display: none;
  }
  .div4 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
  .frame-section {
    padding-bottom: 10.2083vw;
    box-sizing: border-box;
  }
  .frame-wrapper4 {
    padding-left: 4.6875vw;
    box-sizing: border-box;
  }
  .b {
    font-size: var(--fs-38);
    line-height: var(--lh-38);
  }
  .cards-parent {
    gap: var(--gap-40);
  }
  .card {
    min-width: 100%;
  }
  .h2 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
  .frame-parent6 {
    gap: 1.5625vw;
  }
  .b2 {
    font-size: var(--fs-38);
    line-height: var(--lh-38);
    min-width: 100%;
  }
  .frame-parent12,
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .frame-child10 {
    width: 100%;
    height: var(--height-1);
  }
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .parent12 {
    gap: 0.8854vw;
    min-width: 100%;
  }
  .h1 {
    font-size: var(--fs-38);
    line-height: var(--lh-38);
  }
  .k1t-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper10 {
    min-width: 100%;
  }
  .b2b-parent {
    height: auto;
  }
  .b2b {
    font-size: var(--fs-38);
    line-height: var(--lh-38);
  }
  .frame-wrapper11 {
    min-width: 100%;
  }
  .h12 {
    font-size: var(--fs-38);
    line-height: var(--lh-38);
  }
}
@media screen and (max-width: 23.4375vw) {
  .k1t {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
  .frame-container {
    gap: var(--gap-20);
  }
  .frame-parent2 {
    width: 18.1250vw;
    gap: 3.9583vw;
  }
  .link-group {
    display: none;
  }
  .div4 {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
  .h3 {
    font-size: var(--fs-19);
    line-height: var(--lh-23);
  }
  .frame-wrapper4 {
    padding-left: var(--padding-20);
    box-sizing: border-box;
  }
  .b {
    font-size: var(--fs-29);
    line-height: var(--lh-29);
  }
  .cards-parent {
    gap: var(--gap-20);
  }
  .h2 {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
  .h32,
  .k1t3 {
    font-size: var(--fs-19);
    line-height: var(--lh-23);
  }
  .b2 {
    font-size: var(--fs-29);
    line-height: var(--lh-29);
  }
  .b3,
  .mesh- {
    font-size: var(--fs-16);
    line-height: var(--lh-19);
  }
  .parent12 {
    gap: 0.8854vw;
    flex: 1;
  }
  .h1 {
    font-size: var(--fs-29);
    line-height: var(--lh-29);
  }
  .b2b-parent {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .b2b {
    font-size: var(--fs-29);
    line-height: var(--lh-29);
  }
  .frame-wrapper11 {
    padding-top: 4.0625vw;
    box-sizing: border-box;
  }
  .h12 {
    font-size: var(--fs-29);
    line-height: var(--lh-29);
  }
}
