.frameParent {
  width: 89.5833vw;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  margin-top: 3vw;
  box-sizing: border-box;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-128);
  color: var(--Grey);
  font-family: var(--font-winter-sans-trial);
}
.frameParent,
.frameWrapper,
.parent {
  display: flex;
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  width: 17.1875vw;
  align-items: flex-end;
  gap: var(--gap-40);
}
.div,
.h2 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.h2 {
  margin: 0;
  width: 17.1354vw;
  font-size: inherit;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  -webkit-text-stroke: 8px currentColor;
}
.div {
  width: 7.8125vw;
  font-size: var(--fs-14);
  line-height: 120%;
  font-family: var(--font-onest);
}
.frameChild {
  height: 7.3438vw;
  width: var(--width-1);
  position: relative;
  border-right: 1px solid var(--Grey-Dark);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 1;
}
.group {
  height: var(--height-92);
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-40);
  max-width: 100%;
  z-index: 2;
  font-size: var(--fs-14);
  font-family: var(--font-onest);
}
.div2,
.h22 {
  position: relative;
  display: inline-block;
}
.div2 {
  width: 5vw;
  line-height: 120%;
  flex-shrink: 0;
}
.h22 {
  margin: 0;
  width: 15.1563vw;
  font-size: var(--fs-128);
  letter-spacing: normal;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-winter-sans-trial);
  -webkit-text-stroke: 8px currentColor;
}
@media screen and (max-width: 925px) {
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .h2 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
  .frameChild {
    width: 100%;
    height: var(--height-1);
  }
  .h22 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
  .group {
    flex-wrap: wrap;
  }
  .h22 {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
}
