.frameParent,
.lineParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 89.5833vw;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-20) 4.2188vw var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Grey);
  font-family: var(--font-onest);
}
.lineParent {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.frameItem {
  width: 44.7917vw;
  height: var(--height-1);
  border-top: 1px dashed var(--color-gainsboro-200);
  opacity: var(--opacity-0_5);
}
.frameChild {
  width: 43.75vw;
  height: var(--height-1);
  border-top: 2px solid var(--Grey-Dark);
  opacity: var(--opacity-0_5);
}
.frameWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  max-width: 100%;
}
.frameGroup,
.parent {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-20);
  max-width: 100%;
}
.frameGroup {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-20);
  max-width: 100%;
  position: relative;
}
.parent {
  flex: 1;
  height: var(--height-92);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-24);
}
.div {
  width: 5.6250vw;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
}
.div,
.frameInner,
.h2 {
  position: relative;
}
.h2 {
  margin: 0;
  width: 12.6563vw;
  font-size: var(--fs-128);
  letter-spacing: normal;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-winter-sans-trial);
  -webkit-text-stroke: 8px currentColor;
  display: inline-block;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 7.2917vw;
  width: var(--width-1);
  border-right: 1px solid var(--Grey-Dark);
  box-sizing: border-box;
  opacity: var(--opacity-0_5);
  z-index: 1;
}
.group {
  flex: 1;
  height: var(--height-92);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-24);
  font-size: var(--fs-128);
  font-family: var(--font-winter-sans-trial);
}
.div2,
.h22 {
  position: relative;
  display: inline-block;
}
.h22 {
  margin: 0;
  width: 8.3854vw;
  font-size: inherit;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  -webkit-text-stroke: 8px currentColor;
}
.div2 {
  width: 5.5729vw;
  font-size: var(--fs-14);
  line-height: 120%;
  font-family: var(--font-onest);
  flex-shrink: 0;
}
@media screen and (max-width: 925px) {
  .lineParent {
    gap: var(--gap-20);
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .h2 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
  .frameInner {
    width: 100%;
    height: var(--height-1);
  }
  .h22 {
    font-size: var(--fs-51);
    line-height: var(--lh-69);
  }
}
@media screen and (max-width: 450px) {
  .parent {
    flex-wrap: wrap;
  }
  .h2,
  .h22 {
    font-size: var(--fs-32);
    line-height: var(--lh-46);
  }
}
