.button2 {
  cursor: pointer;
  border: 0;
  padding: 0 40px;
  background-color: var(--Grey);
  width: auto;
  min-width: 300px;
  height: 60px;
  border-radius: var(--br-15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.button2:hover {
  opacity: 0.8;
}
.div {
  position: relative;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-onest);
  color: #000000;
  text-align: center;
}
