@import url("https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,400;0,500;0,600;0,700&display=swap");

@font-face {
  font-family: 'Winter Sans Trial';
  src: url('./assets/fonts/WinterSansTrial-Regular-BF675b8f1620299.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  line-height: normal;
  background-color: #080809;
}
:root {
  /* Common Style Variables */

  /* Color */
  --Black: #080809;
  --Black-lines: #272727;
  --color-gainsboro-100: rgba(217, 216, 216, 0.3);
  --color-gainsboro-200: rgba(217, 216, 216, 0.5);
  --Grey: #d9d8d8;
  --Grey-Dark: #b1b1b1;

  /* Gap */
  --gap-5: 0.2604vw;
  --gap-6: 0.3125vw;
  --gap-8: 0.4167vw;
  --gap-10: 0.5208vw;
  --gap-15: 0.7813vw;
  --gap-19: 0.9896vw;
  --gap-20: 1.0417vw;
  --gap-26: 1.3542vw;
  --gap-30: 1.5625vw;
  --gap-40: 2.0833vw;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 0.1042vw;
  --padding-4: 0.2083vw;
  --padding-5: 0.2604vw;
  --padding-12: 0.6250vw;
  --padding-15: 0.7813vw;
  --padding-19: 0.9896vw;
  --padding-20: 1.0417vw;
  --padding-22: 1.1458vw;
  --padding-40: 2.0833vw;
  --padding-55: 2.8646vw;
  --padding-78: 4.0625vw;
  --padding-83: 4.3229vw;
  --padding-100: 5.2083vw;

  /* BorderRadius */
  --br-4: 0.2083vw;
  --br-14: 0.7292vw;
  --br-15: 0.7813vw;

  /* Font */
  --font-onest: 'Onest', sans-serif;
  --font-winter-sans-trial: 'Winter Sans Trial';

  /* FontSize */
  --fs-12: 0.6250vw;
  --fs-14: 0.7292vw;
  --fs-16: 0.8333vw;
  --fs-18: 0.9375vw;
  --fs-19: 0.9896vw;
  --fs-20: 1.0417vw;
  --fs-26: 1.3542vw;
  --fs-29: 1.5104vw;
  --fs-32: 1.6667vw;
  --fs-38: 1.9792vw;
  --fs-48: 2.5000vw;

  /* Borders */
  --border-1: 1px solid var(--Grey-Dark);
  --border-2: 1px solid var(--Grey);
  --border-11: 1px solid var(--Grey-Dark);

  /* WidthHeights */
  --height-1: 1px;
  --height-4: 0.2083vw;
  --height-12: 0.6250vw;
  --height-14: 0.7292vw;
  --height-18: 0.9375vw;
  --height-19: 0.9896vw;
  --height-20: 1.0417vw;
  --height-23: 1.1979vw;
  --height-28: 1.4583vw;
  --height-48: 2.5000vw;
  --height-65: 3.3854vw;
  --height-106: 5.5208vw;
  --height-113: 5.8854vw;
  --height-185: 9.6354vw;
  --height-200: 10.4167vw;
  --height-201: 10.4688vw;
  --height-220: 11.4583vw;
  --height-255: 13.2813vw;
  --height-270: 14.0625vw;
  --height-592: 30.8333vw;
  --max-w-309: 16.0938vw;
  --min-h-65: 3.3854vw;
  --min-h-113: 5.8854vw;
  --min-w-303: 15.7813vw;
  --min-w-942: 49.0625vw;
  --width-1: 1px;
  --width-8: 0.4167vw;
  --width-12: 0.6250vw;
  --width-20: 1.0417vw;
  --width-100: 5.2083vw;
  --width-269: 14.0104vw;
  --width-328: 17.0833vw;
  --width-407: 21.1979vw;
  --width-437: 22.7604vw;
  --width-499: 25.9896vw;
  --width-500: 26.0417vw;
  --width-619: 32.2396vw;
  --width-1700: 88.5417vw;
  --width-1720: 89.5833vw;
  --width-1721: 89.6354vw;

  /* LineHeights */
  --lh-19: 0.9896vw;
  --lh-23: 1.1979vw;
  --lh-29: 1.5104vw;
  --lh-31: 1.6146vw;
  --lh-38: 1.9792vw;

  /* LetterSpacings */
  --ls--0_03: -0.03;

  /* Opacities */
  --opacity-0_3: 0.3;
  --opacity-0_5: 0.5;

  --left-0: 0px;
  --top-0: 0px;
  --top-64: 3.3333vw;
  --top-112: 5.8333vw;
}
